.header {
  font-size: 20px;
  line-height: 1,5;
  margin: 20px auto;
}

.header span {
  display: block;
}

.section {
  padding: 30px 0;
}

.form {
  border:solid 3px #2B0BEE;
  padding: 30px 20px;
}

.form input {
  margin-bottom: 20px;
}

.form-header, .section-header {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 900;
}

.form-btn {
  margin: 10px auto;
  background-color: #2B0BEE;
  border-radius: 0px;
}

.form-btn:hover {
background-color: #452bf1;
}

.section-header {
  font-size: 20px;
  font-weight: 900;
}

.feature {
  margin: 60px auto;
}

.feature p {
  margin-top: 20px;
}